@charset "UTF-8";
/* Form */
.rating-container {
    display: flex;
    flex-wrap: wrap;
}

.rating-label {
    width: 100%;
    text-align: left !important;
}

.star-cb-group {
  /* remove inline-block whitespace */
  font-size: 0;
  /* flip the order so we can use the + and ~ combinators */
  unicode-bidi: bidi-override;
  direction: rtl;
  /* the hidden clearer */
}
.star-cb-group * {
  font-size: 3rem;
  font-family: Helvetica, arial, sans-serif;
  
}
.star-cb-group > input {
  display: none;
}
.star-cb-group > input + label {
  /* only enough room for the star */
  display: inline-block;
  overflow: hidden;
  text-indent: 9999px;
  width: 1em;
  white-space: nowrap;
  cursor: pointer;
}
.star-cb-group > input + label:before {
  display: inline-block;
  text-indent: -9999px;
  content: "☆";
  color: #888;
}
.star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}
.star-cb-group > .star-cb-clear + label {
  text-indent: -9999px;
  width: .5em;
  margin-left: -.5em;
}
.star-cb-group > .star-cb-clear + label:before {
  width: .5em;
}
.star-cb-group:hover > input + label:before {
  content: "☆";
  color: #888;
  text-shadow: none;
}
.star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
  content: "★";
  color: #e52;
  text-shadow: 0 0 1px #333;
}

/* Form END */

/* Reviews */
.review-container {
  margin-bottom: 1em; 
}

.testimonial-container {
  position: relative;
}

.review-date {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: bold;
  font-size: .75em;
}

.testimonial.testimonial-style-4 {
  padding: 8px;
  border-bottom: 1px solid #DFDFDF;
  border-left: 1px solid #ECECEC;
  border-right: 1px solid #ECECEC;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.04);
}

.review-container .card:first-child {
  border-top: 1px solid #DFDFDF;
}

.font-weight-semibold, .font-weight-semi-bold {
  font-weight: 600 !important;
}
/* Reviews END */